.project-card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: white;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 4px;
  width: 288px;
}

.project-card__img {
  width: 100%;
  display: block;
  height: 180px;
  border-radius: 4px 4px  0;
}

.project-card__body {
  flex: 1 1 auto;
  padding: 20px;
}

.project-card__title {
  font-size: 20px;
  margin-bottom: 12px;
  color: black;
}

.project-card__text {
  color: black;
  margin-bottom: 12px;
}