.skills-card-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 50px 60px;
}

img.skill-card__image {
  filter: var(--filter-color);
}

.skill-card__image {
  width: 70px;
  height: 70px;
  margin-bottom: 8px;
}

.skill-card__text {
  font-size: 12px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .skills-card-container {
    column-gap: 100px;
  }

  .skill-card__image {
    width: 100px;
    height: 100px;
  }

  .skill-card__text {
    font-size: 16px;
  }
}