#skills h2 {
  margin-bottom: 20px;
}

.skills-card-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 70px 200px;
}

.skill-card__image {
  width: 100px;
  height: 100px;
  margin-bottom: 8px;
}

.skill-card__text {
  font-size: 16px;
  text-align: center;
}
