header,
header nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header ul {
  list-style: none;
}

header a,
header button {
  text-transform: uppercase;
}

header a {
  font-size: 1.8rem;
  font-weight: 500;
  display: block;
  outline: none;
  text-decoration: underline;
}

header a.logo {
  font-size: 3.5rem;
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: none;
}

header a:visited, 
header a:link, 
header a:focus {
  color: white;
}

header a:hover {
  color: darkgray;
}

header button.btn-primary {
  padding: 12px 36px;
}

header nav ul {
  gap: 26px;
}

@media screen and (min-width: 1024px) {
  header,
  header nav ul {
    flex-direction: row;
  }

  header {
    justify-content: space-between;
    gap: 40px;
  }

  header nav ul {
    gap: 34px;
  }

  header nav a {
    text-decoration: none;
  }

  header a:link, 
  header a:visited, 
  header a:focus {
    border-bottom: none;
  }
}
