#home,
#skills,
#projects {
  scroll-margin-top: 100px;
}

.navbar,
.navbar .social-container {
  gap: 16px;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: var(--body_background);
  border-bottom: 1px solid var(--body_color);
  opacity: 0.9;
}

.navbar-content {
  padding: 30px 20px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand a.logo {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: none;
}

.navbar-brand .hamburger {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-brand .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: var(--body_color);
  margin: 5px 0;
}

.navbar a {
  text-transform: uppercase;
}

.navbar a:visited, 
.navbar a:link, 
.navbar a:focus {
  color: var(--body_color);
}

.navbar a:hover {
  color: darkgray;
}

.nav-menu {
display: none;
}

.nav-menu.open {
  display: block;
}

.nav-menu > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-bottom: 16px;
}

.nav-menu > ul,
.nav-menu .social-icons {
  gap: 16px;
}

.nav-menu a {
  font-size: 1.8rem;
  font-weight: 500;
  outline: none;
  text-decoration: underline;
}

.navbar .social-container,
.navbar .social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar .social-icons a {
  width: 45px;
  height: 45px;
  border: 1px solid var(--body_color);
  border-radius: 50%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s all ease;
}

.navbar .social-icons a:hover {
  background-color: var(--body_color);
  color: var(--body_background);
}

.navbar .language-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 22px;
  gap: 16px;
}

.nabbar .language-container button {
  width: 100px;
}


@media (min-width: 1024px) {
  .navbar .navbar-content,
  .navbar .nav-menu > ul,
  .navbar .social-container,
  .navbar .social-icons {
    flex-direction: row;
  }

  .navbar .navbar-content,
  .navbar .nav-menu {
    display: flex !important;
  }
  
  .navbar .navbar-content,
  .navbar .nav-menu {
    justify-content: space-between;
    gap: 40px;
  }

  .navbar .nav-menu > ul {
    gap: 34px;
    margin-bottom: 0;
  }

  .navbar .social-icons {
    gap: 14px;
  }

  .navbar .nav-menu  a {
    text-decoration: none;
  }

  .navbar .nav-menu > ul a:link, 
  .navbar .nav-menu > ul a:visited, 
  .navbar .nav-menu > ul a:focus {
    border-bottom: none;
  }

  .navbar .social-container,
  .navbar .social-icons {
    align-items: center;

  }
  
  .navbar-brand .hamburger {
    display: none; /* Esconda o ícone de hambúrguer em telas grandes */
  }

  .navbar .language-container {
    flex-direction: row;
    margin-top: 0;
    gap: 0;
  }
  
}