/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Moderustic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* General Setup */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

/* Dark/Light Mode Setup */
:root {
  --body_background: white;
  --body_color: black;
}

[data-theme="dark"] {
  --body_background: #101630;
  --body_color: white;
}

body {
  background-color: var(--body_background);
  color: var(--body_color);
  padding: 30px 16px; 
}


/* Typography */
p, li, input, a, span, button {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

h1, h2, h3 {
  font-family: "Moderustic", sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 1.8rem;
}

/* Layout */
header,
main section {
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 1200px;
  width: 100%;
}

main section {
  padding-top: 40px;
}

main h2.section-title {
  margin-bottom: 12px;
	text-align: center;
}

main p.section-description {
  margin-bottom: 30px;
  text-align: center;
  font-size: 18px;
  color: #adacac;
}

@media screen and (min-width: 1024px) {
  body {
    padding-inline: 50px;
  }

  header,
  main section {
    margin-bottom: 80px;
  }

  h1 {
    font-size: 4.5rem;
  }
  
  main h2.section-title {
    font-size: 3.5rem;
  }

  main p.section-description {
    font-size: 22px;
  }
  
  h3 {
    font-size: 2.8rem;
  }
}