/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moderustic&display=swap');

/* General Setup */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: #101630;
  color: white;
  padding: 50px 80px; 
}


/* Typography */
p, li, input, a, span, button {
  font-size: 1.6rem;
  font-family: "Patrick Hand", cursive;
}

h1, h2, h3 {
  font-family: "Moderustic", sans-serif;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.8rem;
}

/* Global classes */
.btn-primary {
  background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% );
  color: white;
  border: none;
  border-radius: 8px; 
  padding: 10px 20px;
  cursor: pointer;
}

.btn-primary:hover {
  filter: brightness(90%);
}


/* Main Layout */
main section {
  margin: 0 auto;
  margin-bottom: 120px;
  max-width: 1200px;
}

main h2 {
  padding-top: 15px;
  padding-bottom: 25px;
	text-align: center;
}