/* Home Section */
#home .sec-contents {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
	gap: 30px;
}

#home .sec-contents .home-left {
  flex: 1 400px;
}

#home .sec-contents .home-left h2,
#home .sec-contents .home-left h2 span {
  font-size: 3.5rem;
  margin-bottom: 14px;
}
  
#home .sec-contents .home-left p {
  font-size: 2.2rem;
  color: #adacac;
}

#home .sec-contents .home-right .img-container {
  animation: updown 3s linear infinite; 
  border-radius: 50%;
  border: 3px solid var(--body_color);
  max-width: 350px;
}

#home .sec-contents .home-right .img-container img{
	width: 100%;
	height: 100%;
  border-radius: 50%;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

@media screen and (min-width: 1024px) {
  #home .sec-contents .home-left h2 {
    text-align: left;
  }
}
